{% extends 'base.html.twig' %}

{% block main %}
    <h3>Liste de choses à faire au moins une fois dans sa vie :</h3>
    <ul>
        {% dump(wishes) %}
        {% for wish in wishes %}
            <li>
                <a href="{{ path('wish_details', {'id' : wish.id}) }}" title="View wish's details">{{ wish.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block title %}
    WishList
{% endblock %}