{% extends 'base.html.twig' %}

{% block title %}
Error
{% endblock %}

{% block main %}
    <h2>An error occurred... Sorry for the inconvenience</h2>

    <h5><a href="{{ path('main_home') }}">Go back to the homepage</a></h5>
{% endblock %}